.DS_Store
.elasticbeanstalk

fixes/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
npm-debug.log

logs/*

/node_modules
npm-debug.log
.DS_Store
/*.env

custom_scripts/*